# Environment variables
.env

# Virtual environment
venv/

# Log files
transactions.log

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor files
.vscode/
.idea/

# macOS-specific files
.DS_Store